# Dependencies
node_modules/
package-lock.json

# Expo
.expo/
dist/

# Database
*.db
*.sqlite

# Logs
*.log

# Environment files
.env

# IDE files
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Temporary files
ToDo.txt