# Dependencies
node_modules/

# Expo
.expo/
dist/
rendered-k8s/
coverage/
.npm-cache-*/
.expo-*/

# Database
*.db
*.sqlite

# Logs
*.log

# Environment files
.env
.env.*
!.env.example
!.env.*.example

# IDE files
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Temporary files
ToDo.txt
